<section class="resume" id="resume">
<div class="resume__skills">
    <h2>
        Skills
    </h2>
    <span class="seperator"></span>
    
    <ul class="d-flex">
        <li>
            <i class="devicon-html5-plain"></i>

        </li>
        <li>
            <i class="devicon-javascript-plain"></i>

        </li>
        <li><i class="devicon-python-plain"></i>
        </li>
    </ul>
</div>
<div class="resume__details">
<div class="container">
    
    <h2>Resume</h2>
    <span class="seperator"></span>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat sapiente vero quo. Deserunt sint eum quisquam, eius soluta at nemo quia dolorum culpa asperiores totam?</p>

    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
          <h2>Summery</h2>
            <div class="resume__resume-item">
              <h3>Hodaya Bar</h3>
              <i>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste tempora laboriosam, saepe perspiciatis nisi corporis!</i>
              <ul>
                <li>Email:hodayahalewa973@gmail.com</li>
                <li>phone:054-5511344</li>
            </ul>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
        
        </div>
    </div>
</div>
</div>
</section>
